*{
    margin:0;
}
body{
    
}
#navbar{
    background-color: rgb(104, 36, 36);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    gap: 5vw;
    position: fixed;
    width: 100%;
}
#navbar li{
    padding-right: 5vh;
    list-style: none;
}
#navbar a{
    color: white;
    text-decoration: none;
}
#welcome-section{
    background-color: rgb(89, 86, 86);
    color: white;
    height: 70vh;
    text-align: center;
    padding-top: 35vh;
}
#welcome-section h1{
    font-size: 50px;
}
#welcome-section h3{
    font-size: 25px;
    font-style: italic;
}
#projects h2{
    text-align: center;
    text-decoration: underline;
    font-size: 8vh;
    padding-top: 10vh;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 5vh;
    padding: 10vh;
}
.project-container img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.project-tile{
    margin: 3vh;
}
.project-container h3{
text-align: center;
font-size: 1.5em;
background-color: cadetblue;
height: 8vh;
}
#social-media{
    background-color: rgb(33, 33, 71);
    height: 70vh;
    color: white;
    text-align: center;
    padding-top: 40vh;
}
.social-media-header h3{
    font-size: 4em;
}
.social-media-header p{
    font-size: 1.3em;
}
#social-media-container{
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
}
#social-media-container a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
footer{
    background-color: rgb(83, 78, 78);
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    padding-top: 6vh;
}
footer p{
    font-size: 1.5em;
}